[flake8]
max-line-length = 127
ignore = D, Q000, P101, W605, S311,  PLW, PLC, PLR
per-file-ignores =
    buildhat/__init__.py:F401
exclude = docs/conf.py, docs/sphinxcontrib/cmtinc-buildhat.py, docs/sphinx_selective_exclude/*.py
